<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, EdiCar!</h1>

        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- EdiCar (login="edicar" and password="87527199") <br/>- User (login="edicar" and password="87527199").</span>
            </div>
        </div>

        <p jhiTranslate="home.question">
            These are the links that we use:
        </p>

        <ul>
            <li><a href="https://www.detran.mg.gov.br/veiculos" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.detranVeiculos">DETRAN-MG Homepage</a></li>
            <li><a href="https://www.detran.mg.gov.br/veiculos/situacao-do-veiculo/consulta-situacao-do-veiculo" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.situacaoVeiculos">DETRAN-MG See Vehicle Situation</a></li>
            <li><a href="http://ipva1.fazenda.mg.gov.br/ipvaonline/inputEmissaoGuiaArrecadacaoIpvaPorRenavam.action" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.ipva">Issue IPVA Collection Guide</a></li>
            <li><a href="https://www.listofacil.com.br" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.listo">Card machine</a></li>

        </ul>
    </div>
</div>
