<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="veiculo">
            <h2><span jhiTranslate="edicarApp.veiculo.detail.title">Veiculo</span> {{ veiculo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edicarApp.veiculo.placa">Placa</span></dt>
                <dd>
                    <span>{{ veiculo.placa }}</span>
                </dd>
                <dt><span jhiTranslate="edicarApp.veiculo.cor">Cor</span></dt>
                <dd>
                    <span>{{ veiculo.cor }}</span>
                </dd>
                <dt><span jhiTranslate="edicarApp.veiculo.ano">Ano</span></dt>
                <dd>
                    <span>{{ veiculo.ano }}</span>
                </dd>
                <dt><span jhiTranslate="edicarApp.veiculo.valor">Valor</span></dt>
                <dd>
                    <span>{{ veiculo.valor }}</span>
                </dd>
                <dt><span jhiTranslate="edicarApp.veiculo.modelo">Modelo</span></dt>
                <dd>
                    <div *ngIf="veiculo.modelo">
                        <a [routerLink]="['/modelo', veiculo.modelo?.id, 'view']">{{ veiculo.modelo?.nmModelo }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/veiculo', veiculo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
