<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="venda">
            <h2><span jhiTranslate="edicarApp.venda.detail.title">Venda</span> {{ venda.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edicarApp.venda.dtCompra">Dt Compra</span></dt>
                <dd>
                    <span>{{ venda.dtCompra }}</span>
                </dd>
                <dt><span jhiTranslate="edicarApp.venda.valor">Valor</span></dt>
                <dd>
                    <span>{{ venda.valor }}</span>
                </dd>
                <dt><span jhiTranslate="edicarApp.venda.veiculoVenda">Veiculo Venda</span></dt>
                <dd>
                    <div *ngIf="venda.veiculoVenda">
                        <a [routerLink]="['/veiculo', venda.veiculoVenda?.id, 'view']">{{ venda.veiculoVenda?.placa }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="edicarApp.venda.veiculoTroca">Veiculo Troca</span></dt>
                <dd>
                    <div *ngIf="venda.veiculoTroca">
                        <a [routerLink]="['/veiculo', venda.veiculoTroca?.id, 'view']">{{ venda.veiculoTroca?.placa }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="edicarApp.venda.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="venda.cliente">
                        <a [routerLink]="['/cliente', venda.cliente?.id, 'view']">{{ venda.cliente?.nmCliente }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/venda', venda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
