<div>
    <h2 id="page-heading">
        <span jhiTranslate="edicarApp.venda.home.title">Vendas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-venda" [routerLink]="['/venda/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="edicarApp.venda.home.createLabel">
            Create a new Venda
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vendas?.length === 0">
        <span jhiTranslate="edicarApp.venda.home.notFound">No vendas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vendas && vendas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dtCompra"><span jhiTranslate="edicarApp.venda.dtCompra">Dt Compra</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cliente.nmCliente"><span jhiTranslate="edicarApp.venda.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="veiculoVenda.placa"><span jhiTranslate="edicarApp.venda.veiculoVenda">Veiculo Venda</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="veiculoTroca.placa"><span jhiTranslate="edicarApp.venda.veiculoTroca">Veiculo Troca</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valor"><span jhiTranslate="edicarApp.venda.valor">Valor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venda of vendas ;trackBy: trackId">
                    <td><a [routerLink]="['/venda', venda.id, 'view']">{{ venda.id }}</a></td>
                    <td>{{ venda.dtCompra | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="venda.cliente">
                            <a [routerLink]="['/cliente', venda.cliente?.id, 'view']" >{{ venda.cliente?.nmCliente }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="venda.veiculoVenda">
                            <a [routerLink]="['/veiculo', venda.veiculoVenda?.id, 'view']" >{{ venda.veiculoVenda?.placa }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="venda.veiculoTroca">
                            <a [routerLink]="['/veiculo', venda.veiculoTroca?.id, 'view']" >{{ venda.veiculoTroca?.placa }}</a>
                        </div>
                    </td>
                    <td>{{ venda.valor }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/venda', venda.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/venda', venda.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(venda)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vendas && vendas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
